dataFiles/onpremCopy.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks1":{"type":"string"},"on_prem_connection":{"type":"string"},"stephenLayeStorage_connect":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/onPremCopy2')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy_5az","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[{"name":"Source","value":"dbo.organisation100"},{"name":"Destination","value":"raw/datasets/organisation"}],"typeProperties":{"source":{"type":"SqlServerSource","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"validateDataConsistency":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"SourceDataset_5az","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"DestinationDataset_5az","type":"DatasetReference","parameters":{}}]},{"name":"data_transformation","type":"DatabricksNotebook","dependsOn":[{"activity":"Copy_5az","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/stephenlaye2@gmail.com/data_transformation"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-02-10T17:39:41Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/SourceDataset_5az')]","[concat(variables('factoryId'), '/datasets/DestinationDataset_5az')]"]},{"name":"[concat(parameters('factoryName'), '/SourceDataset_5az')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('on_prem_connection')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[{"name":"Index","type":"varchar"},{"name":"Organization Id","type":"varchar"},{"name":"Name","type":"varchar"},{"name":"Website","type":"varchar"},{"name":"Country","type":"varchar"},{"name":"Description","type":"varchar"},{"name":"Founded","type":"varchar"},{"name":"Industry","type":"varchar"},{"name":"Number of employees","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"organisation"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DestinationDataset_5az')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('stephenLayeStorage_connect')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"organisation","folderPath":"datasets","fileSystem":"raw"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}